@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
$main-font: 'Karla', sans-serif;
    
*
    padding: 0
    margin: 0

body
    font-family: $main-font

button
    font-family: $main-font

.title
    text-align: center
    font-weight: 700

.table-container
    display: flex
    justify-content: center

table
    width: 60%

.table-header
    font-size: 22px

.table-data
    font-size: 18px
    text-align: center

footer
    z-index: -10
    position: fixed
    bottom: 0
    width: 100%
    margin-top: 15px
    text-align: center
    padding: 10px
    color: white
    background-color: black

    a
        color: white
        text-decoration: none

.hidden
    display: none